<%= form_for @listing, html: {multipart: true} do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  	<%= f.label :Title %><br>
  	<%= f.text_field :title %><br>
  	<%= f.label :Address %><br>
  	<%= f.text_field :address %><br>
    <%= f.label :Price %><br>
    <%= f.number_field :price %><br>
    <%= f.label :Tag %><br>
    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :content %><br>
    <%= f.file_field :pictures, multiple: true %><br>
    <p>
    <strong>Pictures</strong><br>
    <% if @listing.pictures? %>
      <% @listing.pictures.each do |picture| %>
        <%= image_tag(picture) %>
      <% end %>
    <% end %> 
    </p>
    <%= f.check_box :remove_pictures %>
    Remove Pictures<br>
  	<%= f.submit %>
  </div>
<% end %>  	
