<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8 col-md-offset-1">
	<% listings.each do |listing| %>
		<h4><%= link_to listing.title, listing %></h4>
		<%=image_tag(listing.pictures[0]) if listing.pictures? %>
		<p>City: <%= listing.address %></p>
		<p>Country: <%= listing.country %></p>
		<p>Daily Rate: $<%= listing.price %></p>
		<% if signed_in? and current_user.id == listing.user_id %>
			<button class="btn btn-default"><%= link_to 'Edit Listing', edit_listing_path(listing)%></button>
			<button class="btn btn-default"><%= link_to 'Delete Listing', listing, method: :delete, data: {confirm: 'Are you sure?' } %></button>
		<% end %>	
		<hr>
	<%end%>
</div>
<div class="col-md-2"></div>	
</div>



