<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tag %>
  <%= include_gon %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
</head>
<body>
	<%= render "layouts/navbar" %>
  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>
  <%= yield %>
</body>
</html>
